/* Footer / Pie de Pagina */
.footer {
    margin-top: auto;
    padding-top: 15px;
    text-align: center;
    background: linear-gradient(rgb(49, 49, 49), rgb(0, 0, 0));
    color: #FFF;

    /* Contenedor para ordenar las secciones del footer */
    &__Align {
        /* En vistas grandes el footer se ordenaría horizontal */
        @include BkM {
            display: inline-flex;

            /* Support section */
            &-Support {
                width: 50%;
                border-right: 1px solid rgba(80, 80, 80, 0.5);
            }
            
            /* Social Media section */
            &-Social {
                width: 50%;
                border-left: 1px solid rgba(80, 80, 80, 0.5);
            }
        }

        /* En vistas moviles el footer se ordenaría vertical */
        @include BkS {
            &-Support {
                width: 100%;
                margin-bottom: 15px;
            }

            &-Social {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    /* Botón de "Enviar correo" */
    .btn {
        text-transform: uppercase;
        width: 150px;
    }

    /* Logos de las redes sociales */
    .socialLogo {
        width: 36px;
        transition: filter 1.5s;
        filter: brightness(85%);

        /* Efecto de brillo al pasar el cursor por el logo de la red social */
        &:hover {
            filter: brightness(110%);
        }
    }

    /* Elemento P (parrafo) del píe de pagina */
    p {
        margin: 0;

        /* Enlace (elemento A) hacia mi cuenta de Instagram */
        .me, .me:hover {
            color: $cardHighlight;
            font-weight: bold;
        }
    }
}
