/* Header / Cabecera */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #000;

    @include BkS {
        input[type="checkbox"] {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            height: 45px;
            width: 45px;
        }

        .menuHamb_Open, .menuHamb_Close {
            display: block;
            position: absolute;
            right: 0;
            margin-right: 0;
            top: 0;
            pointer-events: none;

            img {
                height: 45px;
            }
        }

        .navbar-Opt {
            display: none;
        }

        input:checked ~ .navbar-Opt {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input:checked ~ .menuHamb_Open {
            display: none;
        }

        input:not(:checked) ~ .menuHamb_Close {
            display: none;
        }
    }

    @include BkM {
        display: flex;
        align-items: center;

        .menuHamb_Open, .menuHamb_Close, input[type=checkbox] {
            display: none;
        }
    }
}

/* Logo y Navbar */
.header__Logo img {
    width: 120px;
    margin-left: 8px;
}

.header__Logo:hover, .navbar-Opt:hover {
    @include BkM {
        animation-name: kfScale;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.header__Navbar {
    @include BkM {
        margin-left: auto;
        margin-right: 3px;
    }
}

.header__Navbar ul {
    @include BkM {
        display: flex;
    }

    li {
        list-style: none;
        margin-inline: 20px;
    }
}
