/* Footer / Pie de Pagina */
.footer {
    padding-top: 30px;
    text-align: center;
}

.footer .btn {
    display: block;
    text-transform: uppercase;
}

.footer a {
    text-decoration: none;
}

.me, .me:hover {
    color: rgb(0, 141, 0);
    font-weight: bold;
}