/* Texts / Textos */
.primaryInfo {
    padding: 8px 0 0 5px;

    h1 {
        font-family: $titleFont;
        color: $titleColor;
        margin: 50px 0 0 0;
    }

    i {
        padding-left: 7px;
    }
}

.secondaryInfo {
    padding: 0 0 0 8px;

    h2 {
        font-family: $titleFont;
        color: $titleColor;
        margin: 0;
    }
    i {
        padding-left: 7px;
    }
}

@for $numInfo from 0 to 8 {
    .extraInfo-#{$numInfo} {
        @include BkS {
            width: 95vw;
        }
        @include BkM {
            display: inline-block;
            max-width: 70vw;
            margin-right: 30vw;
        }
        background-color: rgba(random(255), random(255), random(255), 0.4);
        border-radius: 6px;
        margin-bottom: 15px;
    }
}
