@charset "UTF-8";
/* Elemento global / Global element */
*, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Etiqueta A (Enlaces) */
a, a:hover {
  color: #FFF;
  text-decoration: none;
}

/* Body / Cuerpo de la pagina */
body {
  background-color: rgb(215, 215, 215);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header / Cabecera */
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #000;
}
@media screen and (max-width: 719px) {
  .header input[type=checkbox] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    height: 45px;
    width: 45px;
  }
  .header .menuHamb_Open, .header .menuHamb_Close {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 0;
    top: 0;
    pointer-events: none;
  }
  .header .menuHamb_Open img, .header .menuHamb_Close img {
    height: 45px;
  }
  .header .navbar-Opt {
    display: none;
  }
  .header input:checked ~ .navbar-Opt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header input:checked ~ .menuHamb_Open {
    display: none;
  }
  .header input:not(:checked) ~ .menuHamb_Close {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .header {
    display: flex;
    align-items: center;
  }
  .header .menuHamb_Open, .header .menuHamb_Close, .header input[type=checkbox] {
    display: none;
  }
}

/* Logo y Navbar */
.header__Logo img {
  width: 120px;
  margin-left: 8px;
}

@media screen and (min-width: 720px) {
  .header__Logo:hover, .navbar-Opt:hover {
    animation-name: kfScale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@media screen and (min-width: 720px) {
  .header__Navbar {
    margin-left: auto;
    margin-right: 3px;
  }
}

@media screen and (min-width: 720px) {
  .header__Navbar ul {
    display: flex;
  }
}
.header__Navbar ul li {
  list-style: none;
  margin-inline: 20px;
}

/* Footer / Pie de Pagina */
.footer {
  margin-top: auto;
  padding-top: 15px;
  text-align: center;
  background: linear-gradient(rgb(49, 49, 49), rgb(0, 0, 0));
  color: #FFF;
  /* Contenedor de las 2 secciones que separé dentro del footer */
  /* Elemento P (parrafo) del píe de pagina */
}
.footer__Align {
  display: inline-flex;
  /* Parte izquierda del footer */
  /* Parte derecha del footer */
}
.footer__Align-Left {
  width: 50%;
  border-right: 1px solid rgba(80, 80, 80, 0.5);
}
.footer__Align-Left .btn {
  text-transform: uppercase;
  width: 150px;
}
.footer__Align-Right {
  width: 50%;
  border-left: 1px solid rgba(80, 80, 80, 0.5);
  /* Logos de las redes sociales */
}
.footer__Align-Right .socialLogo {
  width: 36px;
  transition: filter 1.5s;
  filter: brightness(85%);
  /* Efecto de brillo al pasar el cursor por el logo de la red social */
}
.footer__Align-Right .socialLogo:hover {
  filter: brightness(110%);
}
.footer p {
  margin: 0;
  /* Enlace (elemento A) hacia mi cuenta de Instagram */
}
.footer p .me, .footer p .me:hover {
  color: rgb(0, 141, 0);
  font-weight: bold;
}

/* Cards presentation / Presentación de cartas */
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  text-align: center;
  margin-bottom: 35px;
  margin-inline: 15px;
  border-radius: 20px;
  transition: background-color 1.5s;
}
.card:hover {
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 719px) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .card {
    width: 400px;
  }
}

.card-title h2 {
  color: #2cb173;
  padding-top: 10px;
  font-family: impact;
}

.card-img img {
  position: relative;
  width: 95%;
  height: 300px;
  object-fit: cover;
}

.card-text {
  padding: 10px;
}

.card-dir {
  color: #2cb173;
  text-transform: uppercase;
}

/* Texts / Textos */
.primaryInfo {
  padding: 8px 0 0 5px;
}
.primaryInfo h1 {
  font-family: impact;
  color: #178552;
  margin: 50px 0 0 0;
}
.primaryInfo i {
  padding-left: 7px;
}

.secondaryInfo {
  padding: 0 0 0 8px;
}
.secondaryInfo h2 {
  font-family: impact;
  color: #178552;
  margin: 0;
}
.secondaryInfo i {
  padding-left: 7px;
}

/* Imagenes del carrusel del index */
.carousel {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1900px;
  margin-inline: auto;
}

.carousel-item img {
  object-fit: cover;
}
@media screen and (max-width: 719px) {
  .carousel-item img {
    height: 350px;
  }
}
@media screen and (min-width: 720px) {
  .carousel-item img {
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .carousel-item img {
    height: 650px;
  }
}

/* Map / Mapa */
.map {
  margin: 10px 0 0 0;
  width: 100%;
}
@media screen and (max-width: 719px) {
  .map {
    height: 350px;
  }
}
@media screen and (min-width: 720px) {
  .map {
    height: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .map {
    height: 600px;
  }
}

/* Animación del logo */
@keyframes kfScale {
  50% {
    transform: scale(1.2);
  }
}

/*# sourceMappingURL=style.css.map */
