@charset "UTF-8";
/* Header / Cabecera */
.header {
  width: 100%;
  background-color: #000;
}

@media screen and (max-width: 719px) {
  .header {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Logo */
.header__Logo img {
  width: 120px;
  margin-left: 8px;
}

.header__Logo:hover {
  -webkit-animation-name: rotLogo;
          animation-name: rotLogo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/* Navbar / Barra de navegación */
.header__Navbar {
  margin-left: auto;
  margin-right: 3px;
}

@media screen and (min-width: 720px) {
  .header__Navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__Navbar ul li {
  list-style: none;
  margin-inline: 20px;
}

.header__Navbar ul li:hover {
  text-shadow: rgba(255, 255, 255, 0.7) 1px 1px;
}

/* Footer / Pie de Pagina */
.footer {
  padding-top: 30px;
  text-align: center;
}

.footer .btn {
  display: block;
  text-transform: uppercase;
}

.footer a {
  text-decoration: none;
}

.me, .me:hover {
  color: #008d00;
  font-weight: bold;
}

/* Elemento global / Global element */
*, ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Duda: Lo que hice en a, a:hover no sería lo mismo que usar extend? Qué es mejor y por qué? */
a, a:hover {
  color: #FFF;
  text-decoration: none;
  /* Bootstrap me aplica un color al realizar hover en una etiqueta A, asi que vuelvo a dejarle el mismo color */
}

/* Body / Cuerpo de la pagina */
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#b4b4b4));
  background: linear-gradient(#e6e6e6, #b4b4b4);
}

/* Texts / Textos */
.primaryInfo {
  padding: 8px 0 0 5px;
}

.primaryInfo h1 {
  font-family: impact;
  color: #3B4275;
  margin: 0;
}

.primaryInfo i {
  padding-left: 7px;
}

.secondaryInfo {
  padding: 0 0 0 8px;
}

.secondaryInfo h2 {
  font-family: impact;
  color: #3B4275;
  margin: 0;
}

.secondaryInfo i {
  padding-left: 7px;
}

/* Imagenes del carrusel del index */
.carousel {
  padding-top: 10px;
}

.carousel-item img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Cards presentation / Presentación de cartas */
.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  text-align: center;
  margin-bottom: 35px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 719px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .card {
    width: 400px;
  }
}

.card-title h2 {
  color: #ade8ff;
  padding-top: 10px;
  font-family: impact;
}

.card-img img {
  position: relative;
  width: 95%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  padding: 10px;
}

.card-dir {
  color: #ade8ff;
  text-transform: uppercase;
}

/* Map / Mapa */
.map, .map iframe {
  margin: 10px 0 0 15px;
  width: 600px;
  height: 450px;
}

.map iframe, .map iframe iframe {
  border: 5px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 719px) {
  .map, .map iframe {
    width: 100%;
    margin: 0;
  }
}

/* Animación del logo */
@-webkit-keyframes rotLogo {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotLogo {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
